body{
    background: #e6bb4a4a;
}
.login{
    position: relative;
    margin: 0 auto 0 auto;
    width: 500px;
    height: 750px;
    text-align: center;
    background:#6B8DF2;
    border-radius: 60px 60px 60px 60px;
}
.login_form{
    position: absolute;
    width: 360px;
    height: 530px;
    padding: 90px 70px 50px 70px;
}
.login_signup{
    margin-bottom: 15px;
}
.login_signup>ul{
    text-align: left;
    text-transform: uppercase;
}
.login_signup>ul>li{
    display: inline-block;
    font-size: 30px;
    margin-right: 25px;
    color: rgb(216, 213, 12);
}
.sign_info>ul{
    text-align: left;
}
.sign_info_row{
    margin-bottom: 15px;
}
.sign_info_row>h2{
    font-size: 15px;
    color: cornsilk;
    margin-bottom: 15px;
}
.fill_in{
    width: 250px;
    margin : 9px 20px;
    padding: 15px 20px;    
    color: black;
    background:rgb(255 255 255 / 10%);
    border-radius:25px;
    outline: none;
}
.sign_up{
    margin-bottom: 7px;
}
.button-sign:hover{
    cursor:pointer;
}
.button-sign{
    font-size: 17px;
    font-family: sans-serif ;
    width: 82%;
    padding: 15px 20px;  
    background: #1161ee;
    outline:none;
    border: none;
    color: blanchedalmond;
    border-radius:25px;
    margin-bottom: 5px;
    margin-top: -5px;
    margin-left: -22px;
    text-transform: uppercase;
}
.line{
    background: rgb(136 163 244);
    height: 2px;
    margin-top: 37px;
}

.redirect_login{
    margin-top: 25px;
}
.redirect_login>h3{
    font-size: 17px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #c3abab;
}